{% extends 'base.html.twig' %}

{% block body %}
    <h1>Klant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ klant.id }}</td>
            </tr>
            <tr>
                <th>Voornaam</th>
                <td>{{ klant.voornaam }}</td>
            </tr>
            <tr>
                <th>Tussenvoegsel</th>
                <td>{{ klant.tussenvoegsel }}</td>
            </tr>
            <tr>
                <th>Achternaam</th>
                <td>{{ klant.achternaam }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ klant.email }}</td>
            </tr>
            <tr>
                <th>Telefoon</th>
                <td>{{ klant.telefoon }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_klant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_klant_edit', { 'id': klant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
