{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proeflessens list</h1>

    <table class="table table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Begintijd</th>
                <th>Eindtijd</th>
                <th>Datum</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proeflessen in proeflessens %}
            <tr>
                <td><a href="{{ path('admin_proeflessen_show', { 'id': proeflessen.id }) }}">{{ proeflessen.id }}</a></td>
                <td>{{ proeflessen.begintijd }}</td>
                <td>{{ proeflessen.eindtijd }}</td>
                <td>{{ proeflessen.datum }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('admin_proeflessen_show', { 'id': proeflessen.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('admin_proeflessen_edit', { 'id': proeflessen.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul style="list-style-type: none;">
        <li>
            <a class="btn btn-success" href="{{ path('admin_proeflessen_new') }}">Create a new proeflessen</a>
        </li>
        <li>
            <a class="btn btn-primary" href="../">Back to admin page</a>
        </li>
    </ul>
{% endblock %}
