{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proefles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Begintijd</th>
                <th>Eindtijd</th>
                <th>Datum</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proefle in proefles %}
            <tr>
                <td><a href="{{ path('admin_proefles_show', { 'id': proefle.id }) }}">{{ proefle.id }}</a></td>
                <td>{{ proefle.begintijd }}</td>
                <td>{{ proefle.eindtijd }}</td>
                <td>{{ proefle.datum }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_proefles_show', { 'id': proefle.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_proefles_edit', { 'id': proefle.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_proefles_new') }}">Create a new proefle</a>
        </li>
    </ul>
{% endblock %}
