{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proefle</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proefle.id }}</td>
            </tr>
            <tr>
                <th>Begintijd</th>
                <td>{{ proefle.begintijd }}</td>
            </tr>
            <tr>
                <th>Eindtijd</th>
                <td>{{ proefle.eindtijd }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ proefle.datum }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_proefles_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_proefles_edit', { 'id': proefle.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
